/configure
/Makefile.include
/autom4te.cache/
/**/.gitignore
/**/.installed-*
/depends/*/.installed-*
/native/*/.installed-*
/depends/*/x86/*
/native/*/x86-native/*
/depends/*/armeabi-v7a/*
/native/*/armeabi-v7a-native/*
/depends/*/arm-linux-gnueabihf/*
/native/*/x86_64-linux-gnu-native/*
/depends/*/arm-linux-androideabi/*
/depends/*/x86_64-linux-gnu/*
/depends/*/arm-linux-gnueabi/*
/native/*/x86_64-darwin10.8.0-native/*
/depends/*/arm-apple-darwin/*
/depends/*/x86_64-apple-darwin/*
/depends/*/i386-apple-darwin/*
Toolchain.cmake
config.site
config.site.native
